
.container{
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://img.freepik.com/free-photo/graphic-2d-colorful-wallpaper-with-grainy-gradients_23-2151001630.jpg?t=st=1704218252~exp=1704221852~hmac=11229400bf81ccd86cefd1af94ddff46dbc0643c08be0230c140f7edde9dc547&w=360")no-repeat;
  background-size: cover;
  flex-direction: column;
}
