<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="light" routerLink="/login">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item>
      <ion-input [(ngModel)]="email" class="input" fill="fill" placeholder="Username" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="fullname" class="input" fill="fill" placeholder="Full Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="password" class="input" fill="fill" placeholder="Password" type="Password"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" class="login-button" (click)="create()">Sign Up</ion-button>
    <ion-button expand="block" color="medium" class="login-button" routerLink="/login">Already have an Account</ion-button>

  </div>
</ion-content>
