.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px;
  background: url("https://img.freepik.com/premium-photo/abstract-geometric-connecting-dots-as-plexus-blue-purple-background-data-cyberspace-concept_494516-1437.jpg?w=360");
  background-size:cover;
}
ion-item:first-child, ion-item:nth-child(2){
  margin-bottom: 10px;
}

.login-button{
  margin: 30px 0 15px 0;
}

ion-item{
  border-radius: 4px;
  opacity: 0.8;
  background: transparent;
}
.input{
  background: transparent;
}
