.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px;
  background: url("https://img.freepik.com/premium-photo/abstract-blurred-background-illustration-your-graphic-design-banner-presentation_956363-2232.jpg?w=360");
  background-size:cover;
}
