<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-button slot="start" color="light" routerLink="/login">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <ion-card routerLink="/products">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/ecommerce-campaign-concept-illustration_114360-8432.jpg?w=740&t=st=1699078865~exp=1699079465~hmac=5c90f3e03686ed40fddcf4171154b166dfc99ad561d0eea0a01c209d874594c7" />
      <ion-card-header>
        <ion-card-title>Product</ion-card-title>
        <ion-card-subtitle>find and buy products</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/location">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/address-concept-illustration_114360-4747.jpg?w=740&t=st=1699078971~exp=1699079571~hmac=b166f01e2f455d27be94e44f3a46bd2651de4d26aef9a1bfc89721eb924e94e3" />
      <ion-card-header>
        <ion-card-title>My Location</ion-card-title>
        <ion-card-subtitle>find your loaction</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/place-order">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/premium-vector/isometric-delivery-service-deliveryman-shipping-parcel-logistic-vector-background-illustration_627510-250.jpg?size=626&ext=jpg&ga=GA1.1.291750778.1699036076&semt=ais" />
      <ion-card-header>
        <ion-card-title>My Orders</ion-card-title>
        <ion-card-subtitle>Find your orders</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>


